<li>
	{{burger_name}}
	<button class="change-status" data-id="{{id}}" data-newsleep={{devoured}}>
		{{#if devoured}}Refresh!{{else}}DEVOUr!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}" data-newsleep=1>DELETE!</button>
</li>
