<li><i class="lni lni-burger"></i> {{burger_name}}
	{{#unless devoured}}
	<button type="button" class="change-status btn-sm btn-outline-danger" data-id="{{id}}" data-newsleep={{devoured}}>
		DEVOUR IT!!!
	</button>
	{{/unless}}
	<button type="button" class="delete-burger-btn"><i class="delete-burger lni lni-cross-circle" data-id="{{id}}"></i></button>
<!--	<button type="button" class="delete-burger stripped-button" data-id="{{id}}"><i class="lni lni-cross-circle"></i></button>-->
</li>
